* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* for setting app view proper in all the websites */
}

.body {
    font-family: "inter", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

.header-fixed {
    width: 100%;
    position: fixed;
    /* background-color: #1976d2 !important; */
    z-index: 10;
}

@media screen and (min-width: 992px) {
    .navbar {
        height: 17% !important;
    }
}

.sidenav-left {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1976d2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1038;
}

.sidenav-left a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav-left a:hover {
    color: #000000;
}

.sidenav-left .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav-left {
        padding-top: 15px;
    }

    .sidenav-left a {
        font-size: 18px;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #1976d2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.tab-active {
    border-bottom: 4px solid white;
}

.collapse .navbar-nav .tab {
    color: #fff;
}

.collapse .navbar-nav .a:hover {
    color: #000000;
}

.header-red {
    background-color: #ff0000;
}

.header-blue {
    background-color: #1976d2;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
